{% extends "::base.html.twig" %}

{% block title %}PlatypusBundle:User:index{% endblock %}

{% block body %}
  <p>
    <form action="/login" method="post">
      <input type="submit" name="loginRedir" value="Login">
    </form>
  </p>
  <p>
    <form action="/register" method="post">
      <input type="submit" name="home" value="Register">
    </form>
  </p>
{% endblock %}
