{% block body %}
  <h1>edit page</h1>
  {% if response is defined %}
    <ul>
    {% for error in response %}
        <li>{{ error.message }}</li>
    {% endfor %}
    </ul>
  {% elseif response is defined %}
    {{ response }}
  {% endif %}

  {% dump user %}

  {{ form_start(form) }}
      {{ form_row(form.username)}}
      {{ form_row(form.email) }}
      {{ form_row(form.password.first) }}
      {{ form_row(form.password.second) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}

      <input type="submit" name="sendForm" value="Send">
  {{ form_end(form) }}

  <p>
    <form action="/index" method="post">
      <input type="submit" name="home" value="Back">
    </form>
  </p>
{% endblock %}
