{% extends "::base.html.twig" %}

{% block title %}PlatypusBundle:User:index{% endblock %}

{% block body %}
  <h1>Welcome to your Index</h1>
  <form action="/user/edit" method="post">
    <input type="submit" name="editRedir" value="Edit User">
  </form>
  <form action="/logout" method="post">
    <input type="submit" name="logoutReq" value="logout">
  </form>
{% endblock %}
