{% if formSubmit is defined and formSubmit %}
  {{ error }}
{% elseif messageValidation is defined %}
  {{ messageValidation }}
{% endif %}

{% block body %}
  {{ form_start(form) }}
      {{ form_row(form.username) }}
      {{ form_row(form.email) }}
      {{ form_row(form.password.first) }}
      {{ form_row(form.password.second) }}
      {{ form_row(form.firstName) }}
      {{ form_row(form.lastName) }}

      <input type="submit" name="sendForm" value="Send">
  {{ form_end(form) }}

  <p>
    <form action="/" method="post">
      <input type="submit" name="home" value="Back">
    </form>
  </p>
{% endblock %}
